body {
    background-color: #0d1117;
    color: #ffffff;
    margin: 50px;
}

a {
    text-decoration: none;
    color: #ff4500;
}

.header img {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 150px;
}

.header h1 {
    text-align: center;
    font-family: sans-serif;
}

.header p {
    text-align: center;
    font-family: sans-serif;
    padding-left: 30%;
    padding-right: 30%;
}