body {
    background-color: #0d1117;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ff4500;
}

.header img {
    border-radius: 100%;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.header h1 {
    text-align: center;
    font-family: sans-serif;
}

.header p {
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}