body {
    background-color: #0d1117;
    color: #ffffff;
}

.header img {
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 150px;
}

.header h1 {
    text-align: center;
    font-family: sans-serif;
}

.header p {
    text-align: center;
}